<footer class="store-footer">
	<div aria-label="footer" class="store-footer__inner">
		<div class="container grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
			<div>
				<h3>{{ trans('blocks.footer.contact_us') }}</h3>
				<salla-contacts></salla-contacts>
			</div>
			<div>
				<h3>{{ trans('blocks.footer.service_policy') }}</h3>
				<salla-menu source="footer"></salla-menu>
			</div>
			<div>
				<h3>{{ trans('blocks.footer.guides_and_solutions') }}</h3>
				<ul>
					<li><a href="#">{{ trans('blocks.footer.youtube_premium_activation') }}</a></li>
					<li><a href="#">{{ trans('blocks.footer.youtube_premium_troubleshooting') }}</a></li>
				</ul>
			</div>
			<div>
				<h3>{{ trans('blocks.footer.newsletter_title') }}</h3>
				<p>{{ trans('blocks.footer.newsletter_subtitle') }}</p>
				<form class="mt-4">
					<div class="flex">
						<input type="email" class="form-input flex-1" placeholder="{{ trans('blocks.footer.newsletter_placeholder') }}">
						<button type="submit" class="btn btn-primary">{{ trans('blocks.footer.newsletter_subscribe') }}</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="md:flex items-center justify-between py-4 container text-center">
		<span class="text-sm copyright-text">{% hook copyright %}</span>
		<salla-payments></salla-payments>
	</div>
</footer>
